.jumbotron {
    
    text-align: center;
    background: none;
}

.spaceLight {
    background-color:#eceeef;
    padding: 2rem;
}

.carousel-caption{
    font: block;
    font-weight: 100;
    color: white;
    padding-top: 10px;
    font-size: 30px;
    
}

.spaceDark{
    background-color: #cccccc;
    padding:2rem;
}

.coolPlantstuff{
    margin-top: 20px;
}

button.coolPlantbtn{
    background-color: red;
    color: white;
    display: block;
    margin: auto;
}

h5.modal-title{
    margin: auto;
    font-size: 30px;
}

.ModalWrapper{
    padding: 2rem;
}

.sizeChange{
    resize: 60%;
}
.imgresize{
    width: 40%;
}

.imgFooter{
    padding: 10px;
}

.temp{
    margin-top: 30px;
}


.imgCenter{
    display: block;
    margin: auto;
}

.btnCenter{
    display: block;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 20px;
    width: 70%;
     
}

.fa{
    margin: 10px;
    
    }
.socialwrapper{
    margin: auto;
}

.fa-facebook-square{
    color: #3b5988;
}
.fa-instagram{
    color: orange;
}
.fa-google-plus-square{
    color: #c32f10;
}